<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.debug.middleware.model.mapper.ItemMapper">

    <!-- 根据商品编码查询 -->
    <select id="selectByCode" resultType="com.debug.middleware.model.entity.Item">
        select id, code, name, create_time as createTime from item where code = #{code}
    </select>

</mapper>